body {
  width: 100%;
  overflow-y: auto;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 40px 20px 20px; /* add 20 pixels of padding to the top */
}

.dashboard {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0;
  margin-top: 0;
}

.dashboard__item {
  flex-basis: 22%;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 22%;
  justify-content: center;

  &:hover {
    background-color: rgb(72, 72, 72);
    opacity: 0.5;
    cursor: pointer;
    color: lighten(rgb(36, 150, 144), 10%);
  }
}

.dashboard__icon {
  font-size: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard__text {
  text-align: center;
}

.dashboard__text h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.dashboard__text p {
  font-size: 1.5rem;
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  overflow-x: auto;
}