.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 0 20px;
	position: flex;
	margin-bottom: 20px;
	width: 100%;
	
	.navbar {
	  display: flex;
	  align-items: center;
	  position: flex;
	  margin-left: 50%;

	  .right {
		margin-left: 100%;
	  }
	  
	  .logo {
		color: #fff;
		font-size: 22px;
		font-weight: 600;
		text-decoration: none;
		margin-right: 0%; /* add margin to the right of the logo */
		margin-left: -115%;
	  }
	  
	  .links {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
		  margin-left: 20px;
		  list-style: none;
		  position: relative;
		  
		  a {
			color: #fff;
			font-size: 18px;
			font-weight: 400;
			text-decoration: none;
			transition: 0.3s ease-in-out;
			
			&.active {
			  font-weight: 600;
			  color:aqua;
			}
		  }
		  a:hover{
			color: aquamarine;
		  }
		  a:hover::after,
		  a:active::after{
			content: "";
			width: 30%;
			height: 2px;
			background-color:aqua;
			position: absolute;
			bottom: -4px;
			left: 20px;
		  }
		}
		
		.menu-icon {
		  display: none;
		  color: #fff;
		  font-size: 24px;
		  cursor: pointer;
		  margin-left: auto;
		}
	  }
	  .right {
		margin-left: auto;
	  }
	}
	
	@media (max-width: 768px) {
	  .navbar {
		.links {
		  display: none;
		  flex-direction: column;
		  position: absolute;
		  top: 60px;
		  left: 0;
		  width: 100%;
		  background-color: #333;
		  padding: 20px;
		  
		  li {
			margin: 10px 0;
			
			a {
			  font-size: 18px;
			  font-weight: 400;
			  text-decoration: none;
			}
		  }
		  
		  .menu-icon {
			display: block;
		  }
		}
		
		.links.active {
		  display: flex;
		}
	  }
	}
  }
  