@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$primary-color: #007bff;
$secondary-color: #6c757d;
$bg-color: #111111;
$bg-opacity: 0.8;
$color-primary: rgb(255, 255, 255);

/* Main */
.Main {
	width: 100%;
	height: 100%;
}

// Navigation
.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	z-index: 1;
	left: 0;
	height: 60px;
	padding: 0 20px;
	position: flex;
	margin-bottom: 20px;
	width: 100%;

	.navbar {
		display: flex;
		align-items: center;
		position: flex;
		margin-left: 50%;

		.left {
			.logo {
				color: #fff;
				font-size: 22px;
				font-weight: 600;
				text-decoration: none;
				margin-right: 20px;
			}
		}

		.right {
			margin-left: 100%;
		}

		.logo {
			color: #fff;
			font-size: 22px;
			font-weight: 600;
			text-decoration: none;
			margin-right: 0%;
			/* add margin to the right of the logo */
			margin-left: -115%;
		}

		.links {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				margin-top: 8px;
				margin-left: 20px;
				list-style: none;
				position: relative;

				a {
					color: #fff;
					font-size: 18px;
					font-weight: 400;
					text-decoration: none;
					transition: 0.3s ease-in-out;
					text-align: center;
					justify-content: center;
					padding: 0;

					&.active {
						font-weight: 600;
						color: aqua;
					}
				}

				a:hover {
					color: aquamarine;
				}

				a:hover::after,
				a:active::after {
					content: "";
					width: 30%;
					height: 2px;
					background-color: aqua;
					position: absolute;
					bottom: -4px;
					left: 20px;
				}
			}

			.menu-icon {
				display: none;
				color: #fff;
				font-size: 24px;
				cursor: pointer;
				margin-left: auto;
			}
		}

		.right {
			margin-left: auto;
		}
	}

	@media (max-width: 768px) {
		.navbar {
			.links {
				display: none;
				flex-direction: column;
				position: absolute;
				top: 60px;
				left: 0;
				width: 100%;
				background-color: #333;
				padding: 20px;

				li {
					margin: 10px 0;

					a {
						font-size: 18px;
						font-weight: 400;
						text-decoration: none;
					}
				}

				.menu-icon {
					display: block;
				}
			}

			.links.active {
				display: flex;
			}
		}
	}
}

.Sidebar {
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 60px;
	left: 25px;
	width: 150px;
	/* Adjust the width according to your needs */
	height: calc(100vh - 60px);
	/* Adjust the height according to your needs */
	background-color: $color-primary;
	/* Adjust the background color */
	padding: 20px;
  }

  .Sidebar > * {
	margin-bottom: 10px;
  }
  
  .MenuIcon {
	display: none; /* Initially hide the menu icon */
  }
  
  @media (max-width: 768px) {
	/* Adjust the max-width value as per your responsive breakpoint */
	.Sidebar {
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: auto;
	  padding: 10px;
	}
	
	.MenuIcon {
	  display: block; /* Show the menu icon on mobile */
	  position: fixed;
	  top: 20px;
	  right: 20px;
	  /* Adjust the position and styling of the menu icon */
	}
  }
  
  

// Dashboard

body {
	width: 100%;
	height: 100%;
	background-color: $bg-color;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	overflow-x: auto;

	.dashboard-container {
		display: flex;
		justify-content: flex-start;
		/* Change justify-content to flex-start */
		margin: 0;
		padding: 10px 20px 20px;
		/* Update top padding to 60px */
	}

	.dashboard {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		max-width: 1000px;
		margin: 0;
		margin-right: 0;
		margin-left: 200px;
		margin-top: 0;
	}

	.dashboard__item {
		flex-basis: 22%;
		margin-bottom: 1rem;
		margin-right: 1rem;
		padding: 2rem;
		border: 1px solid #ccc;
		border-radius: 5px;
		display: flex;
		flex-direction: row;
		align-items: center;
		flex: 0 0 22%;
		justify-content: center;

		&:hover {
			background-color: rgb(72, 72, 72);
			opacity: 0.5;
			cursor: pointer;
			color: lighten(rgb(36, 150, 144), 10%);
		}
	}

	.dashboard__icon {
		font-size: 2rem;
		margin-bottom: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.dashboard__text {
		text-align: center;
	}

	.dashboard__text h3 {
		font-size: 1.2rem;
		font-weight: bold;
		margin-bottom: 0.5rem;
	}

	.dashboard__text p {
		font-size: 1.5rem;
		font-weight: bold;
	}

	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 20px;
	}
}


//Login & Register
.container {
	border: 2px solid $primary-color;
	border-radius: 10px;
	padding: 20px;
	margin: 50%;
	margin-top: 100px;
	max-width: 600px;
	align-items: center;
	display: flex;
	justify-content: center;

	.card {
		background-color: rgba($bg-color, $bg-opacity);
		color: white;
		border: none;
		align-items: center;
		justify-content: center;
		text-align: center;

		.card-header {
			border-bottom: none;
			//   text-align: center;
		}

		.form-group label {
			text-align: start;
			display: flex;
			flex-direction: column;
			font-weight: bold;
			color: $secondary-color;
			margin: auto;
			width: 30vw;
			border-radius: 0 0 10px 10px;
		}

		// .form-control{
		// 	margin-right: 5%;
		// 	width: 100%;
		// 	height: 100%;
		// }

		input {
			border-color: $primary-color;
			border-radius: 10px;
			padding: 0.5vw 4vw;
			outline: none;
			// margin: auto;
			align-items: start;
			justify-items: start;
			text-align: start;
			margin-bottom: 10px;
		}

		.btn-primary {
			background-color: $primary-color;
			border-color: $primary-color;
			display: flex;
			align-items: center;
			border-radius: 10px;
			justify-content: center;
			margin: auto;
			padding: 1vw 1vw;
			outline: none;
			margin-top: 10px;
			margin-bottom: auto;
		}

		.btn-primary:hover {
			background-color: $primary-color;
			border-color: $primary-color;
			display: flex;
			justify-content: start;
			align-items: start;
			border-radius: 10px;
		}
	}
}

//Modal
.Modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99;
}

.Modal .container {
	position: absolute;
	justify-content: center;
	top: 25%;
	bottom: -100px;
	left: 50%;
	transform: translate(-50%, -25%);
}

//Add Product
.AddProduct {
	padding: 0.5rem;
	// border: 1px solid #ccc;
	border-radius: 20px;
	// align-items: center;
	// justify-content: center;
	margin-left: 100px;
	display:contents;
	font-weight: bold;
	position: fixed;
	background-color: yellow;
	margin: auto;

	.btn button:hover {
		filter: brightness(1.1);
		transition: all 300ms ease;
	}

	.btn {
		border-radius: 20px;
		color: #000000;
		font-weight: bold;
		font-size: 25px;
		font-weight: 400;
		bottom: -4px;
		left: 20px;
		text-decoration: none;
		background-color: yellow;
		border: none;
		cursor: pointer;
	
		&:hover {
			font-weight: bold;
			// color: aquamarine;
		}
	
		&:hover::after,
		&:active::after {
			content: "";
			width: 30%;
			height: 2px;
			// background-color: aqua;
			position: absolute;
			bottom: -4px;
			left: 20px;
			// background-color: aquamarine;
			opacity: 0.5;
			cursor: pointer;
			color: lighten(rgb(36, 150, 144), 10%);
		}
	}
}

//ProductForm

.ProductForm {
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	padding: 1rem 1rem calc(1rem + 40px) 1rem;
	position: relative;
	width: 100%;

	.cancel {
		position: absolute;
		top: 50px;
		right: 20px;
		cursor: pointer;

		svg {
			fill: white;
		}
	}


	.heading {
		margin-top: 50px;

		h3 {
			position: relative;
			color: white;
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 50px;
			text-align: center;
		}

		input {
			margin-left: 50%;
			background-color: #f5f5f5;
			border: none;
			border-radius: 4px;
			box-shadow: none;
			color: #333;
			font-size: 16px;
			padding: 10px;
			width: 100%;

			&:focus {
				box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
				outline: none;
			}
		}
	}

	.productSize,
	.productPrice,
	.productDetails,
	.productQuantity,
	.productBranch {
		margin-bottom: 15px;
		margin-right: 25px;

		input {
			background-color: #f5f5f5;
			border: none;
			border-radius: 4px;
			box-shadow: none;
			color: #333;
			font-size: 16px;
			padding: 0;
			width: 100%;

			&:focus {
				box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
				outline: none;
			}
		}
	}

	.productImage {
		margin-bottom: 15px;
		margin-left: 50px;

		input[type="file"] {
			display: flex;
		}

		label {
			background-color: #f5f5f5;
			border: none;
			border-radius: 10px;
			box-shadow: none;
			color: #ffffff;
			cursor: pointer;
			display: flex;
			font-size: 16px;
			padding: 10px;

			&:hover {
				background-color: #ddd;
			}
		}

		span {
			margin-left: 10px;
		}
	}

	.generateBarcode {
		margin-bottom: 30px;

		button {
			background-color: #f5f5f5;
			border: none;
			border-radius: 4px;
			box-shadow: none;
			color: #333;
			cursor: pointer;
			font-size: 16px;
			padding: 10px;

			&:hover {
				background-color: #ddd;
			}
		}
	}

	.buttons {
		display: flex;
		justify-content: space-between;
		margin-top: 50px;

		.cancel {
			cursor: pointer;

			svg {
				fill: #ffffff;
				transition: fill 0.2s;

				&:hover {
					fill: #ffffff;
				}
			}
		}

		.confirm {
			button {
				background-color: #ffffff;
				border: none;
				border-radius: 4px;
				box-shadow: none;
				color: #ffffff;
				cursor: pointer;
				font-size: 16px;
				padding: 10px;

				&:hover {
					background-color: #ffffff;
				}
			}
		}
	}
}

// Inventory

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 800px;

	h1 {
		text-align: center;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1rem;
	}

	label {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 0.5rem;
	}

	input[type="text"],
	input[type="number"] {
		padding: 0.5rem;
		margin-left: 0.5rem;
		border-radius: 0.25rem;
		border: 1px solid #ccc;
	}

	button[type="submit"] {
		margin-top: 1rem;
		padding: 0.5rem;
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 0.25rem;
		cursor: pointer;
	}

	button[type="submit"]:hover {
		background-color: #0062cc;
	}

	button {
		margin-right: 0.5rem;
		padding: 0.5rem;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 0.25rem;
		cursor: pointer;
	}

	button:hover {
		background-color: #f5f5f5;
	}
}


// Product Tables
.table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-left: 100px;
	text-align: center;
	// align-items: left;
	justify-self: center;
	border-bottom: 2px solid #ffffff;

	.table thead th {
		text-align: center;
		align-items: right;
		padding: 10px;
		border-bottom: 2px solid #ffffff;
		text-align: right; // added
		margin-bottom: 50px;
		margin-left: 50px;
	}

	.table tbody td {
		margin-top: 100px;
		text-align: center;
		align-items: center;
		padding: 100px;
		border-bottom: 2px solid #ffffff;
	}

	.table tbody td img {
		margin-top: 10%;
		align-items: center;
		width: 5px;
		height: 5px;
		text-align: center;
		object-fit: contain;
		border-radius: 5px;
	}

	tbody tr:hover {
		align-items: center;
		justify-content: center;
		border-bottom: 2px solid #ffffff;
		background-color: rgb(72, 72, 72);
		opacity: 0.5;
		cursor: pointer;
		text-align: center;
		color: lighten(rgb(36, 150, 144), 10%);
	}

	td[data-label]:before {
		align-items: center;
		justify-content: center;
		float: center;
		text-align: center;
		font-weight: bold;
		// padding-right: 1rem;
	}
}

.ImageModal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0.10, 0, 0.8);
	z-index: 99;

	h1 {
		color: #000;
		position: absolute;
		top: 5%;
		left: 20%;
		transform: translate(-50%, -50%);
		font-size: 15px;
		/* Default font size for mobile */

		@media (min-width: 768px) {
			font-size: 20px;
			/* Increase font size for tablets and larger screens */
		}

		@media (min-width: 1024px) {
			font-size: 20px;
			/* Increase font size for desktop screens */
		}
	}
}

.ImageModal .img_container {
	position: absolute;
	display: flex;
	border-radius: 10%;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 100);
	top: 25%;
	bottom: -100px;
	left: 50%;
	transform: translate(-50%, -25%);
	padding: 0 20px;
}

// Styling for the new button container
.options-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 20px;
}

.options-container button {
	margin-left: 10px;
	padding: 10px;
	background-color: white;
	color: black;
	border: 1px solid black;
	cursor: pointer;
}

.options-container button:hover {
	background-color: black;
	color: white;
}

.StackedCard {
	// display: flex;
	// flex-direction: row;
	// justify-content: center;
	// /* Center items horizontally */
	// align-items: center;
	// /* Center items vertically */
	// flex-wrap: wrap;
	/* Wrap the images to a new line if there is not enough space */

	.edit {
		position: absolute;
		top: 20px;
		right: 40px;
		size: 100px;
		cursor: pointer;

		svg {
			fill: rgb(0, 0, 0);
		}

		.card-edit {
			top: 20px;
			size: 100px;
			color: #000;
		}
	}

	.images {
		justify-content: center;
		display: flex;
		/* Align items horizontally */
		align-items: center;
		/* Center items vertically */
		margin-top: 25px;


		.stacked-card-image {
			flex: 0 0 33%;
			/* Each image takes up one-third of the available width */
			max-width: 25%;
			/* Ensure the images do not exceed their container */
			margin: 10px;
			/* Add some margin between the images */
		}
	}

	.barcode-qr-images {
		justify-content: center;
		display: flex;
		/* Align items horizontally */
		align-items: center;
		/* Center items vertically */
		margin-bottom: 1rem;

		.stacked-card-qrcode,
		.stacked-card-barcode {
			flex: 0 0 33%;
			/* Each image takes up one-third of the available width */
			max-width: 25%;
			/* Ensure the images do not exceed their container */
			margin: 10px;
			/* Add some margin between the images */
		}
	}

	.card-heading {
		// justify-content: center;
		// display: flex;
		// /* Align items horizontally */
		// align-items: center;
		// /* Center items vertically */
		// margin-bottom: 1rem;

		.card-title {
			font-weight: bold;
			font-size: 1.5rem;
			color: #000000;
			margin-bottom: 0.5rem;
			text-align: center;
		}

		.card-subtitle {
			color: #000000;
			font-size: 12px;
			margin-top: 0;
			text-align: center;
		}

		.card-description {
			color: #000000;
			font-size: 1rem;
			margin-bottom: 1rem;
			text-align: justify;
		}
	}

	.card-info {
		justify-content: center;
		display: flex;
		/* Align items horizontally */
		align-items: center;
		/* Center items vertically */

		.info-item {
			display: inline-block;
			background-color: #edf2f7;
			border-radius: 9999px;
			padding: 0.5rem 1rem;
			font-size: 0.8rem;
			font-weight: bold;
			color: #4a5568;
			margin-right: 0.5rem;
			margin-bottom: 0.5rem;
		}
	}
}


.stacked-card-image {
	display: inline-block;
	max-width: 40%;
	background-color: white;
	margin-bottom: 10px;
	margin-top: 50px;
	margin-left: 30%;
	justify-content: center;
	align-items: center;
}

.stacked-card-barcode {
	display: inline-block;
	max-width: 25%;
	background-color: white;
	margin-bottom: 10px;
	justify-content: center;
	align-items: center;
}

.stacked-card-qrcode {
	display: inline-block;
	max-width: 25%;
	background-color: white;
	margin-bottom: 10px;
	justify-content: center;
	align-items: center;
}