@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$primary-color: #007bff;
$secondary-color: #6c757d;
$bg-color: #212121;
$bg-opacity: 0.8;
$color-primary: rgb(255, 255, 255);

// Dashboard

body {
	width: 100%;
	overflow-y: auto;
	height: 100%;
	background-color: $bg-color;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow-x: auto;

	.dashboard-container {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 40px 20px 20px;
		/* add 20 pixels of padding to the top */
	}

	.dashboard {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		max-width: 1200px;
		margin: 0;
		margin-top: 0;
	}

	.dashboard__item {
		flex-basis: 22%;
		margin-bottom: 1rem;
		margin-right: 1rem;
		padding: 2rem;
		border: 1px solid #ccc;
		border-radius: 5px;
		display: flex;
		flex-direction: row;
		align-items: center;
		flex: 0 0 22%;
		justify-content: center;

		&:hover {
			background-color: rgb(72, 72, 72);
			opacity: 0.5;
			cursor: pointer;
			color: lighten(rgb(36, 150, 144), 10%);
		}
	}

	.dashboard__icon {
		font-size: 2rem;
		margin-bottom: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.dashboard__text {
		text-align: center;
	}

	.dashboard__text h3 {
		font-size: 1.2rem;
		font-weight: bold;
		margin-bottom: 0.5rem;
	}

	.dashboard__text p {
		font-size: 1.5rem;
		font-weight: bold;
	}

	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 20px;
		// overflow-x: auto;
	}

	//   overflow-x: hidden; /* Hide horizontal scrollbar */
	//   overflow-y: scroll; /* Add vertical scrollbar */
}

//Login & Register
.container {
	border: 2px solid $primary-color;
	border-radius: 10px;
	padding: 20px;
	margin: 50%;
	margin-top: 100px;
	max-width: 600px;
	align-items: center;
	display: flex;
	justify-content: center;

	.card {
		background-color: rgba($bg-color, $bg-opacity);
		color: white;
		border: none;
		align-items: center;
		justify-content: center;
		text-align: center;

		.card-header {
			border-bottom: none;
			//   text-align: center;
		}

		.form-group label {
			text-align: start;
			display: flex;
			flex-direction: column;
			font-weight: bold;
			color: $secondary-color;
			margin: auto;
			width: 30vw;
			border-radius: 0 0 10px 10px;
		}

		// .form-control{
		// 	margin-right: 5%;
		// 	width: 100%;
		// 	height: 100%;
		// }

		input {
			border-color: $primary-color;
			border-radius: 10px;
			padding: 0.5vw 4vw;
			outline: none;
			// margin: auto;
			align-items: start;
			justify-items: start;
			text-align: start;
			margin-bottom: 10px;
		}

		.btn-primary {
			background-color: $primary-color;
			border-color: $primary-color;
			display: flex;
			align-items: center;
			border-radius: 10px;
			justify-content: center;
			margin: auto;
			padding: 1vw 1vw;
			outline: none;
			margin-top: 10px;
			margin-bottom: auto;
		}

		.btn-primary:hover {
			background-color: $primary-color;
			border-color: $primary-color;
			display: flex;
			justify-content: start;
			align-items: start;
			border-radius: 10px;
		}
	}
}

//Modal
.Modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99;
}

.Modal .container {
	position: absolute;
	justify-content: center;
	top: 25%;
	bottom: -100px;
	left: 50%;
	transform: translate(-50%, -25%);
}

//Add Product
.AddProduct {
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	margin-left: 20px;
	display: flex;
}

.AddProduct .btn button:hover {
	filter: brightness(1.1);
	transition: all 300ms ease;
}

.AddProduct .btn {
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
	background-color: transparent;
	border: none;
	cursor: pointer;

	&:hover {
		color: aquamarine;
	}

	&:hover::after,
	&:active::after {
		content: "";
		width: 30%;
		height: 2px;
		// background-color: aqua;
		position: absolute;
		bottom: -4px;
		left: 20px;
		background-color: aquamarine;
		opacity: 0.5;
		cursor: pointer;
		color: lighten(rgb(36, 150, 144), 10%);
	}
}

//ProductForm

.ProductForm {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem calc(1rem + 40px) 1rem;
  position: relative;
  width: 100%;
  .cancel {
	position: absolute;
	top: 80px;
	right: 10px;
	cursor: pointer;
	svg {
	  fill: white;
	}
  }
  
  
  .heading {
	margin-top: 50px;
    
    h3 {
		position: relative;
      color: white;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 50px;
	  text-align: center;
    }
    
    input {
      background-color: #f5f5f5;
      border: none;
      border-radius: 4px;
      box-shadow: none;
      color: #333;
      font-size: 16px;
      padding: 10px;
      width: 100%;
      
      &:focus {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        outline: none;
      }
    }
  }
  
  .productSize,
  .productPrice,
  .productDetails,
  .productQuantity,
  .productBranch {
    margin-bottom: 15px;
    
    input {
      background-color: #f5f5f5;
      border: none;
      border-radius: 4px;
      box-shadow: none;
      color: #333;
      font-size: 16px;
      padding: 0;
      width: 100%;
      
      &:focus {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        outline: none;
      }
    }
  }
  
  .productImage {
    margin-bottom: 15px;
	margin-left: 50px;
    
    input[type="file"] {
      display: flex;
    }
    
    label {
      background-color: #f5f5f5;
      border: none;
      border-radius: 10px;
      box-shadow: none;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      font-size: 16px;
      padding: 10px;
      
      &:hover {
        background-color: #ddd;
      }
    }
    
    span {
      margin-left: 10px;
    }
  }
  
  .generateBarcode {
    margin-bottom: 30px;
    
    button {
      background-color: #f5f5f5;
      border: none;
      border-radius: 4px;
      box-shadow: none;
      color: #333;
      cursor: pointer;
      font-size: 16px;
      padding: 10px;
      
      &:hover {
        background-color: #ddd;
      }
    }
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
    .cancel {
      cursor: pointer;
      
      svg {
        fill: #ffffff;
        transition: fill 0.2s;
        
        &:hover {
          fill: #ffffff;
        }
      }
    }
    
    .confirm {
      button {
        background-color: #ffffff;
        border: none;
        border-radius: 4px;
        box-shadow: none;
        color: #ffffff;
        cursor: pointer;
        font-size: 16px;
        padding: 10px;
        
        &:hover {
          background-color: #ffffff;
        }
      }
    }
  }
}


// Navigation
.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 0 20px;
	position: flex;
	margin-bottom: 20px;
	width: 100%;

	.navbar {
		display: flex;
		align-items: center;
		position: flex;
		margin-left: 50%;

		.right {
			margin-left: 100%;
		}

		.logo {
			color: #fff;
			font-size: 22px;
			font-weight: 600;
			text-decoration: none;
			margin-right: 0%;
			/* add margin to the right of the logo */
			margin-left: -115%;
		}

		.links {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				margin-top: 8px;
				margin-left: 20px;
				list-style: none;
				position: relative;

				a {
					color: #fff;
					font-size: 18px;
					font-weight: 400;
					text-decoration: none;
					transition: 0.3s ease-in-out;
					text-align: center;
					justify-content: center;
					padding: 0;

					&.active {
						font-weight: 600;
						color: aqua;
					}
				}

				a:hover {
					color: aquamarine;
				}

				a:hover::after,
				a:active::after {
					content: "";
					width: 30%;
					height: 2px;
					background-color: aqua;
					position: absolute;
					bottom: -4px;
					left: 20px;
				}
			}

			.menu-icon {
				display: none;
				color: #fff;
				font-size: 24px;
				cursor: pointer;
				margin-left: auto;
			}
		}

		.right {
			margin-left: auto;
		}
	}

	@media (max-width: 768px) {
		.navbar {
			.links {
				display: none;
				flex-direction: column;
				position: absolute;
				top: 60px;
				left: 0;
				width: 100%;
				background-color: #333;
				padding: 20px;

				li {
					margin: 10px 0;

					a {
						font-size: 18px;
						font-weight: 400;
						text-decoration: none;
					}
				}

				.menu-icon {
					display: block;
				}
			}

			.links.active {
				display: flex;
			}
		}
	}
}

// Inventory

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 800px;

	h1 {
		text-align: center;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1rem;
	}

	label {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 0.5rem;
	}

	input[type="text"],
	input[type="number"] {
		padding: 0.5rem;
		margin-left: 0.5rem;
		border-radius: 0.25rem;
		border: 1px solid #ccc;
	}

	button[type="submit"] {
		margin-top: 1rem;
		padding: 0.5rem;
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 0.25rem;
		cursor: pointer;
	}

	button[type="submit"]:hover {
		background-color: #0062cc;
	}

	button {
		margin-right: 0.5rem;
		padding: 0.5rem;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 0.25rem;
		cursor: pointer;
	}

	button:hover {
		background-color: #f5f5f5;
	}
}


// Product Tables
.table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	// align-items: left;
	justify-self: center;

	.table thead th {
		text-align: center;
		align-items: right;
		padding: 10px;
		// border-bottom: 2px solid #ef0000;
		text-align: right; // added
		margin-bottom: 50px;
	}

	.table tbody td {
		margin-top: 100px;
		text-align: center;
		align-items: center;
		padding: 100px;
		border-bottom: 1px solid #ffffff;
	}

	.table tbody td img {
		margin-top: 10%;
		align-items: center;
		width: 5px;
		height: 5px;
		text-align: center;
		object-fit: contain;
		border-radius: 5px;
	}

	tbody tr:hover {
		align-items: center;
		justify-content: center;
		background-color: rgb(72, 72, 72);
		opacity: 0.5;
		cursor: pointer;
		text-align: center;
		color: lighten(rgb(36, 150, 144), 10%);
	}

	td[data-label]:before {
		align-items: center;
		justify-content: center;
		float: center;
		text-align: center;
		font-weight: bold;
		// padding-right: 1rem;
	}
}